In [161]:
import pandas as pd
from datetime import datetime as dt
import numpy as np

## Preprocessing

In [3]:
smeb_df= pd.read_csv('SMEB_sbd_level 2019-10-29 .csv')
smeb_df.head()

,Unnamed: 0,Month,region,q_gov,q_district,q_sbd,q_bread_price_per_8pieces,q_bulgur_price_per_kilo,q_chicken_price_per_kilo,q_eggs_price_per_30eggs,...,smeb_food,smeb_nfi,smeb_cookingfuels,trans_fuel,smeb_complete,smeb_only_missing_water,smeb_total_float,smeb_sanswater_float,smeb_incomplete,smeb_usd
0,1,April 18,northeast,SY02,SY0205,SY020500,100.0,250.0,690.0,900.0,...,42733.0,3674.00,2500.0,212.000000,True,False,58447.21250,55327.02500,54369.50,123.960154
1,2,April 18,northeast,SY02,SY0206,SY020600,80.0,220.0,825.0,800.0,...,40592.5,5306.00,2625.0,170.666667,True,False,57591.51250,55172.76250,53573.50,129.128952
2,3,April 18,northeast,SY02,SY0206,SY020601,80.0,240.0,850.0,850.0,...,40572.5,5180.25,2750.0,61.000000,True,False,58090.58125,55042.95625,54037.75,129.377687
3,4,April 18,northeast,SY02,SY0206,SY020602,80.0,225.0,800.0,850.0,...,41717.5,5134.25,2750.0,61.000000,True,False,57546.63125,54934.38125,53531.75,123.490625
4,5,April 18,northeast,SY08,SY0800,SY080000,125.0,275.0,775.0,900.0,...,42550.0,5125.00,2000.0,90.000000,False,True,NaN,55550.62500,51675.00,NaN

In [4]:
smeb_df.columns

Index(['Unnamed: 0', 'Month', 'region', 'q_gov', 'q_district', 'q_sbd',
       'q_bread_price_per_8pieces', 'q_bulgur_price_per_kilo',
       'q_chicken_price_per_kilo', 'q_eggs_price_per_30eggs',
       'q_potatoes_price_per_kilo', 'q_tomatoes_price_per_kilo',
       'q_ghee_price_per_kilo', 'q_oil_price_per_litre',
       'q_rlentils_price_per_kilo', 'q_rice_price_per_kilo',
       'q_salt_price_per_500g', 'q_sugar_price_per_kilo',
       'q_isoap_price_per_piece', 'q_lsoap_price_per_kilo',
       'q_dsoap_price_per_litre', 'q_spads_price_per_10pads',
       'q_toothp_price_per_100g', 'q_sgas_price', 'q_mrkaz_price',
       'q_water_price_per_litre', 'q_data_price_per_gb', 'q_xrate_usdsyp_sell',
       'q_tomatop_price_per_kilo', 'q_onions_price_per_kilo',
       'q_cucumbers_price_per_kilo', 'q_rgpetrol_price', 'q_mrpetrol_price',
       'q_rgdiesel_price', 'q_mrdiesel_price', 'q_smeb_bread', 'q_smeb_bulgur',
       'q_smeb_chicken', 'q_smeb_eggs', 'q_smeb_lentils', 'q_smeb_rice',
       'q_smeb_salt', 'q_smeb_sugar', 'q_smeb_tomatop', 'q_smeb_isoap',
       'q_smeb_spads', 'q_smeb_toothp', 'q_smeb_water', 'q_smeb_gbdata',
       'q_smeb_xrate', 'q_smeb_ghee', 'q_smeb_oil', 'q_smeb_lsoap',
       'q_smeb_dsoap', 'q_smeb_kaz', 'q_smeb_lpg', 'q_smeb_tomatoes',
       'q_smeb_potatoes', 'q_smeb_onions', 'q_smeb_cucumbers',
       'nonstandard_cookingoil', 'nonstandard_soaps', 'nonstandard_fuels',
       'nonstandard_veggies', 'smeb_food_veggie', 'smeb_cooking_oils',
       'smeb_nfi_soaps', 'smeb_food', 'smeb_nfi', 'smeb_cookingfuels',
       'trans_fuel', 'smeb_complete', 'smeb_only_missing_water',
       'smeb_total_float', 'smeb_sanswater_float', 'smeb_incomplete',
       'smeb_usd'],
      dtype='object')

Removing price columns and changing date format so that it follows the calender order and not treat it as a string

In [113]:
smeb_only_df = smeb_df.copy()

for col in smeb_df.columns:
    if ("price" in col) or ("nonstandard" in col):
        smeb_only_df.drop(columns=[col], inplace=True)

smeb_only_df['Month'] = smeb_only_df['Month'].apply(lambda x : pd.to_datetime(x, format = "%B %y", errors='ignore'))
smeb_only_df['Month'] = smeb_only_df['Month'].apply(lambda x : pd.to_datetime(x, format = "%b %y", errors='ignore'))

In [36]:
smeb_only_df.head()

,Unnamed: 0,Month,region,q_gov,q_district,q_sbd,q_xrate_usdsyp_sell,q_smeb_bread,q_smeb_bulgur,q_smeb_chicken,...,smeb_food,smeb_nfi,smeb_cookingfuels,trans_fuel,smeb_complete,smeb_only_missing_water,smeb_total_float,smeb_sanswater_float,smeb_incomplete,smeb_usd
0,1,2018-04-01 00:00:00,northeast,SY02,SY0205,SY020500,471.5,3700.0,3750.0,4140.0,...,42733.0,3674.00,2500.0,212.000000,True,False,58447.21250,55327.02500,54369.50,123.960154
1,2,2018-04-01 00:00:00,northeast,SY02,SY0206,SY020600,446.0,2960.0,3300.0,4950.0,...,40592.5,5306.00,2625.0,170.666667,True,False,57591.51250,55172.76250,53573.50,129.128952
2,3,2018-04-01 00:00:00,northeast,SY02,SY0206,SY020601,449.0,2960.0,3600.0,5100.0,...,40572.5,5180.25,2750.0,61.000000,True,False,58090.58125,55042.95625,54037.75,129.377687
3,4,2018-04-01 00:00:00,northeast,SY02,SY0206,SY020602,466.0,2960.0,3375.0,4800.0,...,41717.5,5134.25,2750.0,61.000000,True,False,57546.63125,54934.38125,53531.75,123.490625
4,5,2018-04-01 00:00:00,northeast,SY08,SY0800,SY080000,465.0,4625.0,4125.0,4650.0,...,42550.0,5125.00,2000.0,90.000000,False,True,NaN,55550.62500,51675.00,NaN

## Correlation Analysis

Having a general overview of correlations between similar items grouped by Month

In [27]:
smeb_only_df.groupby('Month')['q_smeb_lentils', 'q_smeb_rice'].corr().iloc[0::2,-1]

Month
2017-11-01 00:00:00  q_smeb_lentils    0.935071
2017-12-01 00:00:00  q_smeb_lentils    0.976837
2018-01-01 00:00:00  q_smeb_lentils    0.959302
2018-02-01 00:00:00  q_smeb_lentils    0.976772
2018-03-01 00:00:00  q_smeb_lentils    0.237765
2018-04-01 00:00:00  q_smeb_lentils    0.280451
2018-05-01 00:00:00  q_smeb_lentils    0.289884
2018-06-01 00:00:00  q_smeb_lentils    0.243855
2018-07-01 00:00:00  q_smeb_lentils    0.440620
2018-09-01 00:00:00  q_smeb_lentils    0.378279
2018-10-01 00:00:00  q_smeb_lentils    0.602191
2018-11-01 00:00:00  q_smeb_lentils    0.378279
2018-12-01 00:00:00  q_smeb_lentils    0.540993
2019-01-01 00:00:00  q_smeb_lentils    0.523361
2019-02-01 00:00:00  q_smeb_lentils    0.594337
2019-03-01 00:00:00  q_smeb_lentils    0.471225
2019-04-01 00:00:00  q_smeb_lentils    0.481144
2019-05-01 00:00:00  q_smeb_lentils    0.477081
2019-06-01 00:00:00  q_smeb_lentils    0.309180
2019-07-01 00:00:00  q_smeb_lentils    0.527203
2019-08-01 00:00:00  q_smeb_lentils    0.529088
Aug18                q_smeb_lentils    0.539316
Name: q_smeb_rice, dtype: float64

In [28]:
smeb_only_df.groupby('Month')['q_smeb_salt', 'q_smeb_sugar'].corr().iloc[0::2,-1]

Month
2017-11-01 00:00:00  q_smeb_salt    0.985536
2017-12-01 00:00:00  q_smeb_salt    0.992612
2018-01-01 00:00:00  q_smeb_salt    0.991416
2018-02-01 00:00:00  q_smeb_salt    0.994368
2018-03-01 00:00:00  q_smeb_salt   -0.000872
2018-04-01 00:00:00  q_smeb_salt   -0.236955
2018-05-01 00:00:00  q_smeb_salt   -0.144716
2018-06-01 00:00:00  q_smeb_salt    0.055843
2018-07-01 00:00:00  q_smeb_salt    0.129860
2018-09-01 00:00:00  q_smeb_salt    0.532841
2018-10-01 00:00:00  q_smeb_salt    0.113891
2018-11-01 00:00:00  q_smeb_salt    0.532841
2018-12-01 00:00:00  q_smeb_salt    0.307368
2019-01-01 00:00:00  q_smeb_salt    0.333219
2019-02-01 00:00:00  q_smeb_salt    0.290849
2019-03-01 00:00:00  q_smeb_salt    0.243161
2019-04-01 00:00:00  q_smeb_salt    0.355026
2019-05-01 00:00:00  q_smeb_salt    0.233209
2019-06-01 00:00:00  q_smeb_salt    0.237099
2019-07-01 00:00:00  q_smeb_salt   -0.025092
2019-08-01 00:00:00  q_smeb_salt    0.081110
Aug18                q_smeb_salt    0.292127
Name: q_smeb_sugar, dtype: float64

In [82]:
smeb_only_df.groupby('Month')['q_smeb_ghee', 'q_smeb_oil'].corr().iloc[0::2, -1]

Month
2017-11-01 00:00:00  q_smeb_ghee    0.995103
2017-12-01 00:00:00  q_smeb_ghee    0.974011
2018-01-01 00:00:00  q_smeb_ghee    0.971813
2018-02-01 00:00:00  q_smeb_ghee    0.971616
2018-03-01 00:00:00  q_smeb_ghee    0.558310
2018-04-01 00:00:00  q_smeb_ghee    0.884383
2018-05-01 00:00:00  q_smeb_ghee    0.582855
2018-06-01 00:00:00  q_smeb_ghee    0.801906
2018-07-01 00:00:00  q_smeb_ghee    0.580585
2018-09-01 00:00:00  q_smeb_ghee    0.593014
2018-10-01 00:00:00  q_smeb_ghee    0.428926
2018-11-01 00:00:00  q_smeb_ghee    0.593014
2018-12-01 00:00:00  q_smeb_ghee    0.585512
2019-01-01 00:00:00  q_smeb_ghee    0.254201
2019-02-01 00:00:00  q_smeb_ghee    0.472286
2019-03-01 00:00:00  q_smeb_ghee    0.057926
2019-04-01 00:00:00  q_smeb_ghee    0.122791
2019-05-01 00:00:00  q_smeb_ghee    0.346573
2019-06-01 00:00:00  q_smeb_ghee    0.187752
2019-07-01 00:00:00  q_smeb_ghee    0.085401
2019-08-01 00:00:00  q_smeb_ghee    0.276281
Aug18                q_smeb_ghee    0.559395
Name: q_smeb_oil, dtype: float64

In [32]:
smeb_only_df.groupby('Month')['q_smeb_chicken', 'q_smeb_eggs'].corr().iloc[0::2,-1]

Month
2017-11-01 00:00:00  q_smeb_chicken    0.255012
2017-12-01 00:00:00  q_smeb_chicken    0.966938
2018-01-01 00:00:00  q_smeb_chicken    0.270209
2018-02-01 00:00:00  q_smeb_chicken    0.067522
2018-03-01 00:00:00  q_smeb_chicken   -0.096383
2018-04-01 00:00:00  q_smeb_chicken    0.191547
2018-05-01 00:00:00  q_smeb_chicken    0.240412
2018-06-01 00:00:00  q_smeb_chicken    0.114684
2018-07-01 00:00:00  q_smeb_chicken    0.099594
2018-09-01 00:00:00  q_smeb_chicken    0.065064
2018-10-01 00:00:00  q_smeb_chicken    0.050991
2018-11-01 00:00:00  q_smeb_chicken    0.065064
2018-12-01 00:00:00  q_smeb_chicken    0.124266
2019-01-01 00:00:00  q_smeb_chicken   -0.107567
2019-02-01 00:00:00  q_smeb_chicken   -0.145317
2019-03-01 00:00:00  q_smeb_chicken   -0.013760
2019-04-01 00:00:00  q_smeb_chicken    0.315809
2019-05-01 00:00:00  q_smeb_chicken    0.040424
2019-06-01 00:00:00  q_smeb_chicken    0.094656
2019-07-01 00:00:00  q_smeb_chicken    0.605096
2019-08-01 00:00:00  q_smeb_chicken    0.521301
Aug18                q_smeb_chicken    0.025840
Name: q_smeb_eggs, dtype: float64

Looking at the above values, it is clear the some items have high correlation but only for the first four months. It is consistent with the fact that Sriya was attacked in March 2018, after which the prices stop correlating

In [50]:
smeb_only_df.groupby(['q_sbd'])['q_smeb_ghee', 'q_smeb_oil'].corr().iloc[0::2,-1]

q_sbd
SY020001  q_smeb_ghee    0.619182
SY020003  q_smeb_ghee    0.948683
SY020004  q_smeb_ghee    0.858032
SY020005  q_smeb_ghee   -0.382578
SY020200  q_smeb_ghee         NaN
SY020203  q_smeb_ghee   -0.106066
SY020300  q_smeb_ghee    0.222222
SY020301  q_smeb_ghee         NaN
SY020302  q_smeb_ghee         NaN
SY020303  q_smeb_ghee         NaN
SY020304  q_smeb_ghee    0.460207
SY020305  q_smeb_ghee   -0.341565
SY020306  q_smeb_ghee    0.941746
SY020400  q_smeb_ghee    0.421412
SY020401  q_smeb_ghee         NaN
SY020403  q_smeb_ghee         NaN
SY020405  q_smeb_ghee    0.317699
SY020500  q_smeb_ghee    0.734955
SY020501  q_smeb_ghee    0.973423
SY020600  q_smeb_ghee    0.725940
SY020601  q_smeb_ghee    0.798999
SY020602  q_smeb_ghee    0.893630
SY020800  q_smeb_ghee    0.618238
SY020801  q_smeb_ghee    0.040032
SY030101  q_smeb_ghee    0.333333
SY030105  q_smeb_ghee    0.997047
SY030106  q_smeb_ghee         NaN
SY030107  q_smeb_ghee         NaN
SY030200  q_smeb_ghee    0.998025
SY040101  q_smeb_ghee   -0.069843
                           ...
SY090106  q_smeb_ghee    0.691293
SY090200  q_smeb_ghee         NaN
SY090201  q_smeb_ghee   -1.000000
SY090300  q_smeb_ghee         NaN
SY090301  q_smeb_ghee    1.000000
SY110100  q_smeb_ghee    0.244189
SY110101  q_smeb_ghee         NaN
SY110102  q_smeb_ghee   -0.355910
SY110103  q_smeb_ghee         NaN
SY110200  q_smeb_ghee    0.574905
SY110201  q_smeb_ghee    0.328786
SY110202  q_smeb_ghee    0.317495
SY110300  q_smeb_ghee    0.368305
SY110301  q_smeb_ghee    0.651042
SY110302  q_smeb_ghee    0.691819
SY120000  q_smeb_ghee    0.762001
SY120001  q_smeb_ghee    0.160302
SY120002  q_smeb_ghee    0.085444
SY120004  q_smeb_ghee    0.584433
SY120005  q_smeb_ghee    0.291825
SY120006  q_smeb_ghee    0.510952
SY120007  q_smeb_ghee    0.034001
SY120200  q_smeb_ghee         NaN
SY120301  q_smeb_ghee    0.903601
SY120302  q_smeb_ghee    0.740668
SY120303  q_smeb_ghee    0.866069
SY140000  q_smeb_ghee    0.675882
SY140001  q_smeb_ghee    0.721656
SY140002  q_smeb_ghee         NaN
SY140200  q_smeb_ghee    1.000000
Name: q_smeb_oil, Length: 112, dtype: float64

The values vary a lot at Sub-district level due to very few data points, thus not giving us the true picture.

### Grouping at multiple levels

In [162]:
smeb_only_df.groupby([ 'region', 'Month'])['q_smeb_lentils', 'q_smeb_rice'].corr().iloc[0::2,-1]

region     Month
besieged   2017-11-01 00:00:00  q_smeb_lentils    1.000000
           2017-12-01 00:00:00  q_smeb_lentils    0.866025
           2018-01-01 00:00:00  q_smeb_lentils         NaN
           2018-02-01 00:00:00  q_smeb_lentils    1.000000
northeast  2017-11-01 00:00:00  q_smeb_lentils    0.397230
           2017-12-01 00:00:00  q_smeb_lentils   -0.010404
           2018-01-01 00:00:00  q_smeb_lentils    0.205196
           2018-02-01 00:00:00  q_smeb_lentils    0.243445
           2018-03-01 00:00:00  q_smeb_lentils    0.154062
           2018-04-01 00:00:00  q_smeb_lentils    0.250998
           2018-05-01 00:00:00  q_smeb_lentils   -0.072575
           2018-06-01 00:00:00  q_smeb_lentils    0.344901
           2018-07-01 00:00:00  q_smeb_lentils    0.166521
           2018-10-01 00:00:00  q_smeb_lentils    0.399750
           2018-12-01 00:00:00  q_smeb_lentils    0.122773
           2019-01-01 00:00:00  q_smeb_lentils    0.420396
           2019-02-01 00:00:00  q_smeb_lentils    0.646876
           2019-03-01 00:00:00  q_smeb_lentils    0.115072
           2019-04-01 00:00:00  q_smeb_lentils    0.513824
           2019-05-01 00:00:00  q_smeb_lentils    0.236752
           2019-06-01 00:00:00  q_smeb_lentils    0.477444
           2019-07-01 00:00:00  q_smeb_lentils    0.057902
           2019-08-01 00:00:00  q_smeb_lentils   -0.035472
           Aug18                q_smeb_lentils   -0.046473
northwest  2017-11-01 00:00:00  q_smeb_lentils    0.235976
           2017-12-01 00:00:00  q_smeb_lentils    0.205825
           2018-01-01 00:00:00  q_smeb_lentils   -0.282729
           2018-02-01 00:00:00  q_smeb_lentils    0.007058
           2018-03-01 00:00:00  q_smeb_lentils    0.279561
           2018-04-01 00:00:00  q_smeb_lentils    0.381549
           2018-05-01 00:00:00  q_smeb_lentils    0.411935
           2018-06-01 00:00:00  q_smeb_lentils    0.363142
           2018-07-01 00:00:00  q_smeb_lentils    0.315159
           2018-09-01 00:00:00  q_smeb_lentils    0.378279
           2018-10-01 00:00:00  q_smeb_lentils    0.261709
           2018-11-01 00:00:00  q_smeb_lentils    0.378279
           2018-12-01 00:00:00  q_smeb_lentils    0.406070
           2019-01-01 00:00:00  q_smeb_lentils    0.276111
           2019-02-01 00:00:00  q_smeb_lentils    0.369177
           2019-03-01 00:00:00  q_smeb_lentils    0.511237
           2019-04-01 00:00:00  q_smeb_lentils    0.342282
           2019-05-01 00:00:00  q_smeb_lentils    0.446708
           2019-06-01 00:00:00  q_smeb_lentils    0.231071
           2019-07-01 00:00:00  q_smeb_lentils    0.429682
           2019-08-01 00:00:00  q_smeb_lentils    0.524477
           Aug18                q_smeb_lentils    0.577528
south      2017-11-01 00:00:00  q_smeb_lentils    0.328078
           2017-12-01 00:00:00  q_smeb_lentils    0.314513
           2018-01-01 00:00:00  q_smeb_lentils    0.391291
           2018-02-01 00:00:00  q_smeb_lentils    0.699046
           2018-03-01 00:00:00  q_smeb_lentils    0.414251
           2018-04-01 00:00:00  q_smeb_lentils    0.495434
           2018-05-01 00:00:00  q_smeb_lentils    0.273440
           2018-06-01 00:00:00  q_smeb_lentils    0.219815
Name: q_smeb_rice, dtype: float64

It is usually dominated by of the two levels

### Correlation between all pairs of items

In [119]:
# Returns an upper triangular matrix with count of corr. greater than the threshold
def correlation_mat(df, group, threshold = 0.8, col_start = 6):
    item_list = list(df.columns[col_start:])
    n = len(item_list)
    col_names = item_list
    df_corr = pd.DataFrame(index = col_names,columns=col_names)
#     df_corr["Items"] = item_list
#     print(df_corr)
    for i in range(n):
        for j in range(i,n):
            if not i==j:
                try:
                    c = sum(df.groupby('Month')[item_list[i], item_list[j]].corr().iloc[0::2,-1]>=threshold)
                    df_corr.iloc[i, j] = c
                except:
                    print("Cannot calculate correlations for %s %s".format(item_list[i],list_item[j]))
    return df_corr

We instead have a more readable format of high correlation counts

In [153]:
def correlations(df, group, threshold = 0.8, col_start = 6):
    item_list = list(df.columns[col_start:])
    n = len(item_list)
    col_names = item_list
    df_corr = pd.DataFrame(columns=["Item 1", "Item 2", "Corr"])
    df_corr["Item 1"] = np.repeat(item_list, n)
    df_corr["Item 2"] = item_list*n
    for i in range(n):
        for j in range(i,n):
            if not i==j:
                c = sum(df.groupby(group)[item_list[i], item_list[j]].corr().iloc[0::2,-1]>=threshold)
                df_corr.iloc[i*n + j, 2] = c
    return df_corr

In [163]:
df_corr = correlations(smeb_only_df, 'Month')
df_corr.sort_values("Corr", ascending=False).head(50)

                    Item 1                Item 2 Corr
1481       smeb_incomplete              smeb_usd   22
1403      smeb_total_float              smeb_usd   22
1402      smeb_total_float       smeb_incomplete   22
651            q_smeb_ghee     smeb_cooking_oils   22
811             q_smeb_kaz     smeb_cookingfuels   22
15     q_xrate_usdsyp_sell          q_smeb_xrate   22
1442  smeb_sanswater_float              smeb_usd   20
1441  smeb_sanswater_float       smeb_incomplete   20
1401      smeb_total_float  smeb_sanswater_float   20
1167             smeb_food  smeb_sanswater_float   20
1169             smeb_food              smeb_usd   19
1166             smeb_food      smeb_total_float   19
769           q_smeb_dsoap        smeb_nfi_soaps   18
730           q_smeb_lsoap        smeb_nfi_soaps   18
812             q_smeb_kaz            trans_fuel   16
850             q_smeb_lpg     smeb_cookingfuels   16
1168             smeb_food       smeb_incomplete   15
1241     smeb_cookingfuels            trans_fuel   13
690             q_smeb_oil     smeb_cooking_oils   12
854             q_smeb_lpg      smeb_total_float   10
857             q_smeb_lpg              smeb_usd   10
846             q_smeb_lpg     smeb_cooking_oils    9
855             q_smeb_lpg  smeb_sanswater_float    8
851             q_smeb_lpg            trans_fuel    8
856             q_smeb_lpg       smeb_incomplete    8
420           q_smeb_isoap              smeb_nfi    8
962          q_smeb_onions      smeb_food_veggie    8
372         q_smeb_tomatop            q_smeb_lpg    8
645            q_smeb_ghee            q_smeb_lpg    8
1001      q_smeb_cucumbers      smeb_food_veggie    7
848             q_smeb_lpg             smeb_food    7
884        q_smeb_tomatoes      smeb_food_veggie    7
263            q_smeb_rice             smeb_food    7
687             q_smeb_oil         q_smeb_onions    6
923        q_smeb_potatoes      smeb_food_veggie    6
641            q_smeb_ghee            q_smeb_oil    6
963          q_smeb_onions     smeb_cooking_oils    6
489          q_smeb_toothp            q_smeb_lpg    5
255            q_smeb_rice            q_smeb_lpg    5
843             q_smeb_lpg         q_smeb_onions    5
297            q_smeb_salt         q_smeb_onions    5
294            q_smeb_salt            q_smeb_lpg    5
849             q_smeb_lpg              smeb_nfi    5
701             q_smeb_oil              smeb_usd    5
231         q_smeb_lentils  smeb_sanswater_float    4
729           q_smeb_lsoap     smeb_cooking_oils    4
1046      smeb_food_veggie            trans_fuel    4
223         q_smeb_lentils        smeb_nfi_soaps    4
222         q_smeb_lentils     smeb_cooking_oils    4
227         q_smeb_lentils            trans_fuel    4

In [167]:
df_corr = correlations(smeb_only_df, 'Month', threshold = 0.7)
df_corr.sort_values("Corr", ascending=False).head(50)

                    Item 1                Item 2 Corr
1481       smeb_incomplete              smeb_usd   22
1402      smeb_total_float       smeb_incomplete   22
651            q_smeb_ghee     smeb_cooking_oils   22
15     q_xrate_usdsyp_sell          q_smeb_xrate   22
811             q_smeb_kaz     smeb_cookingfuels   22
1403      smeb_total_float              smeb_usd   22
730           q_smeb_lsoap        smeb_nfi_soaps   21
1442  smeb_sanswater_float              smeb_usd   21
1401      smeb_total_float  smeb_sanswater_float   21
812             q_smeb_kaz            trans_fuel   20
1441  smeb_sanswater_float       smeb_incomplete   20
1167             smeb_food  smeb_sanswater_float   20
1241     smeb_cookingfuels            trans_fuel   19
1166             smeb_food      smeb_total_float   19
1169             smeb_food              smeb_usd   19
769           q_smeb_dsoap        smeb_nfi_soaps   18
263            q_smeb_rice             smeb_food   18
1168             smeb_food       smeb_incomplete   18
850             q_smeb_lpg     smeb_cookingfuels   16
1001      q_smeb_cucumbers      smeb_food_veggie   15
962          q_smeb_onions      smeb_food_veggie   14
690             q_smeb_oil     smeb_cooking_oils   13
884        q_smeb_tomatoes      smeb_food_veggie   13
420           q_smeb_isoap              smeb_nfi   13
854             q_smeb_lpg      smeb_total_float   11
857             q_smeb_lpg              smeb_usd   11
856             q_smeb_lpg       smeb_incomplete   11
270            q_smeb_rice  smeb_sanswater_float   10
660            q_smeb_ghee  smeb_sanswater_float   10
855             q_smeb_lpg  smeb_sanswater_float   10
1122        smeb_nfi_soaps              smeb_nfi   10
645            q_smeb_ghee            q_smeb_lpg    9
846             q_smeb_lpg     smeb_cooking_oils    9
923        q_smeb_potatoes      smeb_food_veggie    9
1089     smeb_cooking_oils  smeb_sanswater_float    9
372         q_smeb_tomatop            q_smeb_lpg    9
269            q_smeb_rice      smeb_total_float    9
848             q_smeb_lpg             smeb_food    8
224         q_smeb_lentils             smeb_food    8
271            q_smeb_rice       smeb_incomplete    8
272            q_smeb_rice              smeb_usd    8
851             q_smeb_lpg            trans_fuel    8
648            q_smeb_ghee         q_smeb_onions    8
732           q_smeb_lsoap              smeb_nfi    8
1091     smeb_cooking_oils              smeb_usd    8
653            q_smeb_ghee             smeb_food    7
1090     smeb_cooking_oils       smeb_incomplete    7
222         q_smeb_lentils     smeb_cooking_oils    7
107          q_smeb_bulgur             smeb_food    7
963          q_smeb_onions     smeb_cooking_oils    7

In [164]:
df_corr = correlations(smeb_only_df, 'region')
df_corr.sort_values("Corr", ascending=False).head(50)

                    Item 1                Item 2 Corr
1481       smeb_incomplete              smeb_usd    4
1402      smeb_total_float       smeb_incomplete    4
855             q_smeb_lpg  smeb_sanswater_float    4
856             q_smeb_lpg       smeb_incomplete    4
850             q_smeb_lpg     smeb_cookingfuels    4
15     q_xrate_usdsyp_sell          q_smeb_xrate    4
651            q_smeb_ghee     smeb_cooking_oils    4
1403      smeb_total_float              smeb_usd    4
1401      smeb_total_float  smeb_sanswater_float    3
854             q_smeb_lpg      smeb_total_float    3
1001      q_smeb_cucumbers      smeb_food_veggie    3
1442  smeb_sanswater_float              smeb_usd    3
857             q_smeb_lpg              smeb_usd    3
1441  smeb_sanswater_float       smeb_incomplete    3
884        q_smeb_tomatoes      smeb_food_veggie    3
1247     smeb_cookingfuels              smeb_usd    3
730           q_smeb_lsoap        smeb_nfi_soaps    2
811             q_smeb_kaz     smeb_cookingfuels    2
962          q_smeb_onions      smeb_food_veggie    2
690             q_smeb_oil     smeb_cooking_oils    2
1244     smeb_cookingfuels      smeb_total_float    2
1245     smeb_cookingfuels  smeb_sanswater_float    2
1246     smeb_cookingfuels       smeb_incomplete    2
545           q_smeb_water              smeb_usd    2
542           q_smeb_water      smeb_total_float    2
893        q_smeb_tomatoes      smeb_total_float    1
183            q_smeb_eggs     smeb_cooking_oils    1
186            q_smeb_eggs              smeb_nfi    1
623           q_smeb_xrate              smeb_usd    1
924        q_smeb_potatoes     smeb_cooking_oils    1
852             q_smeb_lpg         smeb_complete    1
923        q_smeb_potatoes      smeb_food_veggie    1
649            q_smeb_ghee      q_smeb_cucumbers    1
216         q_smeb_lentils            q_smeb_lpg    1
922        q_smeb_potatoes      q_smeb_cucumbers    1
921        q_smeb_potatoes         q_smeb_onions    1
896        q_smeb_tomatoes              smeb_usd    1
881        q_smeb_tomatoes       q_smeb_potatoes    1
882        q_smeb_tomatoes         q_smeb_onions    1
887        q_smeb_tomatoes             smeb_food    1
641            q_smeb_ghee            q_smeb_oil    1
415           q_smeb_isoap      q_smeb_cucumbers    1
894        q_smeb_tomatoes  smeb_sanswater_float    1
420           q_smeb_isoap              smeb_nfi    1
172            q_smeb_eggs           q_smeb_ghee    1
621           q_smeb_xrate  smeb_sanswater_float    1
181            q_smeb_eggs      q_smeb_cucumbers    1
141         q_smeb_chicken         q_smeb_onions    1
971          q_smeb_onions      smeb_total_float    1
144         q_smeb_chicken     smeb_cooking_oils    1

In [160]:
df_corr = correlations(smeb_only_df, 'q_gov')
df_corr.sort_values("Corr", ascending=False).head(50)

                    Item 1                Item 2 Corr
15     q_xrate_usdsyp_sell          q_smeb_xrate   11
884        q_smeb_tomatoes      smeb_food_veggie   10
1402      smeb_total_float       smeb_incomplete   10
1441  smeb_sanswater_float       smeb_incomplete    9
850             q_smeb_lpg     smeb_cookingfuels    9
651            q_smeb_ghee     smeb_cooking_oils    9
856             q_smeb_lpg       smeb_incomplete    8
1401      smeb_total_float  smeb_sanswater_float    8
855             q_smeb_lpg  smeb_sanswater_float    7
1481       smeb_incomplete              smeb_usd    7
730           q_smeb_lsoap        smeb_nfi_soaps    7
1403      smeb_total_float              smeb_usd    7
769           q_smeb_dsoap        smeb_nfi_soaps    6
854             q_smeb_lpg      smeb_total_float    6
1167             smeb_food  smeb_sanswater_float    6
1001      q_smeb_cucumbers      smeb_food_veggie    6
811             q_smeb_kaz     smeb_cookingfuels    6
1245     smeb_cookingfuels  smeb_sanswater_float    6
857             q_smeb_lpg              smeb_usd    6
1166             smeb_food      smeb_total_float    5
690             q_smeb_oil     smeb_cooking_oils    5
1246     smeb_cookingfuels       smeb_incomplete    5
1442  smeb_sanswater_float              smeb_usd    5
962          q_smeb_onions      smeb_food_veggie    5
1168             smeb_food       smeb_incomplete    4
1247     smeb_cookingfuels              smeb_usd    4
420           q_smeb_isoap              smeb_nfi    4
1244     smeb_cookingfuels      smeb_total_float    4
762           q_smeb_dsoap            q_smeb_lpg    3
542           q_smeb_water      smeb_total_float    3
923        q_smeb_potatoes      smeb_food_veggie    3
498          q_smeb_toothp              smeb_nfi    3
1013      q_smeb_cucumbers              smeb_usd    2
544           q_smeb_water       smeb_incomplete    2
231         q_smeb_lentils  smeb_sanswater_float    2
545           q_smeb_water              smeb_usd    2
224         q_smeb_lentils             smeb_food    2
223         q_smeb_lentils        smeb_nfi_soaps    2
1088     smeb_cooking_oils      smeb_total_float    2
263            q_smeb_rice             smeb_food    2
213         q_smeb_lentils          q_smeb_lsoap    2
124         q_smeb_chicken           q_smeb_salt    2
143         q_smeb_chicken      smeb_food_veggie    2
1049      smeb_food_veggie      smeb_total_float    2
1122        smeb_nfi_soaps              smeb_nfi    2
1045      smeb_food_veggie     smeb_cookingfuels    2
1010      q_smeb_cucumbers      smeb_total_float    2
1011      q_smeb_cucumbers  smeb_sanswater_float    2
1012      q_smeb_cucumbers       smeb_incomplete    2
1006      q_smeb_cucumbers     smeb_cookingfuels    2

In [165]:
df_corr = correlations(smeb_only_df, 'q_district')
df_corr.sort_values("Corr", ascending=False).head(50)

                    Item 1                Item 2 Corr
15     q_xrate_usdsyp_sell          q_smeb_xrate   35
1441  smeb_sanswater_float       smeb_incomplete   31
884        q_smeb_tomatoes      smeb_food_veggie   30
651            q_smeb_ghee     smeb_cooking_oils   29
1402      smeb_total_float       smeb_incomplete   27
1401      smeb_total_float  smeb_sanswater_float   25
811             q_smeb_kaz     smeb_cookingfuels   25
1167             smeb_food  smeb_sanswater_float   24
730           q_smeb_lsoap        smeb_nfi_soaps   20
962          q_smeb_onions      smeb_food_veggie   19
1168             smeb_food       smeb_incomplete   19
1001      q_smeb_cucumbers      smeb_food_veggie   17
690             q_smeb_oil     smeb_cooking_oils   15
769           q_smeb_dsoap        smeb_nfi_soaps   15
1166             smeb_food      smeb_total_float   15
420           q_smeb_isoap              smeb_nfi   14
850             q_smeb_lpg     smeb_cookingfuels   12
498          q_smeb_toothp              smeb_nfi   12
1481       smeb_incomplete              smeb_usd   12
1403      smeb_total_float              smeb_usd   12
1246     smeb_cookingfuels       smeb_incomplete   12
856             q_smeb_lpg       smeb_incomplete   11
855             q_smeb_lpg  smeb_sanswater_float   11
1245     smeb_cookingfuels  smeb_sanswater_float   11
1122        smeb_nfi_soaps              smeb_nfi   10
732           q_smeb_lsoap              smeb_nfi    9
327           q_smeb_sugar          q_smeb_xrate    9
1442  smeb_sanswater_float              smeb_usd    9
921        q_smeb_potatoes         q_smeb_onions    9
854             q_smeb_lpg      smeb_total_float    9
8      q_xrate_usdsyp_sell          q_smeb_sugar    9
107          q_smeb_bulgur             smeb_food    9
883        q_smeb_tomatoes      q_smeb_cucumbers    8
2      q_xrate_usdsyp_sell         q_smeb_bulgur    8
1244     smeb_cookingfuels      smeb_total_float    8
263            q_smeb_rice             smeb_food    8
93           q_smeb_bulgur          q_smeb_xrate    8
857             q_smeb_lpg              smeb_usd    8
86           q_smeb_bulgur          q_smeb_sugar    7
366         q_smeb_tomatop          q_smeb_xrate    7
224         q_smeb_lentils             smeb_food    7
83           q_smeb_bulgur        q_smeb_lentils    7
771           q_smeb_dsoap              smeb_nfi    7
9      q_xrate_usdsyp_sell        q_smeb_tomatop    7
1247     smeb_cookingfuels              smeb_usd    7
923        q_smeb_potatoes      smeb_food_veggie    7
1241     smeb_cookingfuels            trans_fuel    6
115          q_smeb_bulgur       smeb_incomplete    6
114          q_smeb_bulgur  smeb_sanswater_float    6
1206              smeb_nfi  smeb_sanswater_float    6

The items with high correlations are not surprising. For example: oil and ghee, trans_fuel and kaz, cookingfuel and lpg , different types of soaps, food_veggie and onions, etc

In [128]:
df_corr.to_csv('Correlation count matrix.csv')

In [129]:
smeb_only_df.groupby('Month').std()

,q_smeb_bread,q_smeb_bulgur,q_smeb_chicken,q_smeb_eggs,q_smeb_lentils,q_smeb_rice,q_smeb_salt,q_smeb_sugar,q_smeb_tomatop,q_smeb_isoap,...,smeb_nfi_soaps,smeb_food,smeb_nfi,smeb_cookingfuels,smeb_complete,smeb_only_missing_water,smeb_total_float,smeb_sanswater_float,smeb_incomplete,smeb_usd
Month,,,,,,,,,,,,,,,,,,,,,
April 18,1389.270291,635.254053,524.089719,569.201303,1105.737876,1974.732324,105.863228,122.281798,766.457243,671.664876,...,398.892081,3965.744351,835.362187,2589.417526,0.416667,0.393398,5313.112365,5147.476590,5198.020749,14.570411
April 19,1465.989160,736.510589,1132.365076,516.805346,1005.829088,1963.003558,49.156930,125.225860,984.048923,799.909008,...,480.425401,4627.116651,1257.276745,1834.806111,0.424744,0.394443,5735.875668,4784.137967,5539.274568,10.582894
Aug 19,1411.741618,1008.711009,797.713540,664.352017,1397.512819,2489.032487,68.813434,127.356513,1183.572199,710.322677,...,545.928143,5137.970339,1025.960402,2055.122645,0.499868,0.457617,8898.164309,5215.126975,13732.599057,13.999430
Aug18,1477.242207,670.924134,552.778764,528.885778,1304.126354,1905.703742,47.177622,108.851039,555.051211,680.490926,...,447.392742,4417.187057,896.535773,1538.368230,0.478975,0.471186,4861.411701,5074.336473,4718.961474,11.142494
Dec 17,11700.198934,6934.200631,3069.211317,5987.150115,7515.676241,9252.013426,480.325767,2272.882129,2587.580496,800.016576,...,1666.925366,49335.896606,2818.976752,480428.568469,0.482617,0.440215,688575.975309,587457.538377,521383.988510,1678.508516
Dec 18,1424.603081,593.212418,494.695685,618.597096,1030.665635,2008.614956,56.078411,182.928914,1020.771335,748.261549,...,437.526962,4510.710990,1193.915286,1869.760336,0.449093,0.424744,4899.274205,4955.330505,4503.918151,9.919039
Feb 18,9726.825585,7511.492377,785.107139,7666.299727,7146.349870,9084.019258,473.909729,2706.251046,1641.501795,776.931516,...,1471.722131,4079.773586,2450.938193,3228.472405,0.475191,0.438776,5760.175155,5307.611473,65504.942692,12.370973
Feb 19,1425.000337,702.973112,817.214583,602.025566,919.498918,1952.877532,51.726730,167.758426,802.766954,799.520508,...,509.590108,3985.138799,1242.086047,2112.129940,0.452151,0.397727,4875.198650,4611.540970,8146.558779,9.673635
Jan 18,8445.566938,6439.534364,717.778484,5214.729449,5963.245541,8220.493115,424.172918,1983.740358,1811.238149,873.946555,...,1023.485177,4685.069632,2104.084528,2261.224174,0.508001,0.000000,180695.694928,4599.643150,129897.818874,390.306118
Jan 19,1297.783255,599.828693,686.294195,597.305467,955.987918,1904.872280,58.176515,216.631158,1022.543437,782.106846,...,478.729019,4442.982937,1284.658870,2065.994083,0.452151,0.440755,4476.702663,4814.887365,4309.236392,9.218409
July 18,1651.091949,668.902657,574.410670,505.689187,1185.721378,1689.274715,51.519214,84.114153,498.831000,686.928974,...,476.031238,4103.447362,878.518786,1527.080035,0.462267,0.452151,5099.450848,4907.563159,4723.362757,11.747786
July 19,1547.480277,882.638060,859.590850,812.402982,1348.552335,2568.854101,206.689344,114.823207,1164.803229,776.709128,...,804.355362,5901.166911,1708.972859,2163.846035,0.503718,0.483093,4821.698021,7682.334698,12840.884822,8.009769
June 18,1372.075910,605.237676,618.582003,738.594147,900.309966,1890.024472,49.737127,123.928059,646.900067,644.839231,...,434.474300,4027.272718,855.001587,1895.292035,0.467177,0.445157,5272.006702,5121.744008,6113.707907,12.288783
June 19,2089.132857,798.702415,663.063416,749.817566,1188.547319,1709.357723,52.647370,137.926421,866.709257,721.280173,...,466.940314,4131.911320,1258.656353,1816.558062,0.429339,0.395831,7084.041344,4641.189310,6331.585119,11.851832
March 18,1366.913036,672.802444,597.772000,708.201093,1053.410529,2121.004872,51.777518,142.323196,760.658327,691.311884,...,438.894824,3560.605256,866.302396,5568.393551,0.471251,0.414039,6532.048931,5817.892114,10707.280642,13.360323
March 19,1342.971758,691.501579,732.998384,483.107928,1094.027865,1659.790411,49.267232,148.840143,763.420980,793.133576,...,566.483414,3405.138331,1172.057394,2049.198618,0.440755,0.397727,4479.609279,4136.697263,4327.086985,8.437249
May 18,1452.231296,583.055711,609.770793,517.872537,1038.988652,2121.072491,48.910346,118.835959,625.409552,694.734662,...,403.961557,3974.999568,828.545637,1958.801946,0.426956,0.405505,5561.949813,5401.034211,4973.970933,13.096847
May 19,1447.215767,776.075114,825.672058,616.460158,1154.367498,1750.828526,49.472415,106.969087,1011.322033,826.161112,...,515.279931,4553.704726,1361.340279,1908.530700,0.462267,0.413688,5659.751595,5025.743448,5745.278875,10.012694
Nov 17,11495.603919,10141.662912,874.839564,14817.552492,6878.826543,13344.825919,838.375442,11116.200656,3283.274690,2907.351616,...,1350.559235,3950.932208,3909.058181,73786.037556,0.467177,0.426956,90585.851045,83291.484865,116297.346881,191.025871
Nov 18,1108.833370,658.577095,756.931518,341.674010,1088.550660,1543.103566,40.875710,132.864178,596.899165,731.197868,...,251.295675,3727.104179,849.763708,870.336072,0.296145,0.245935,4485.524309,4830.265250,10155.305521,10.318301
Oct 18,1533.757470,570.679822,574.735013,339.695608,1074.002684,2133.742837,49.667792,181.251595,653.260565,644.844369,...,438.286076,3769.317406,936.774740,1713.294364,0.492545,0.471155,4279.419777,4172.262223,3744.877217,9.451468
Sep 18,1108.833370,658.577095,756.931518,341.674010,1088.550660,1543.103566,40.875710,132.864178,596.899165,731.197868,...,251.295675,3727.104179,849.763708,870.336072,0.296145,0.245935,4485.524309,4830.265250,10155.305521,10.318301